<!DOCTYPE html>
<html lang="ja">
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="description" content="T.Kawashima's portfolio website." />
      <title>About - T.Kawashima's website</title>
      <link rel="stylesheet" href="/about.css" />
      <link rel="stylesheet" href="/style.css" />
      <link rel="shortcut icon" href="https://gyazo.com/e18546356e8e61a69e36d038eb108f33/raw/" />
    </head>

    <body>
      <%- include("./parts/header.ejs"); %>

      <main>

          <section id="about" class="about">
            <div class="section-wrapper">
              <h2 class="sectiontitle-centering">About</h2>
              <p style="text-align: center; margin: 32px 0;">僕について</p>
              <img src="https://gyazo.com/e18546356e8e61a69e36d038eb108f33/raw/" />
              <h3>T.Kawashima</h3>
              <p>A Student of Department of Frontier Media Science, Meiji Univ.</p>
              <div class="sns-links">
                <a href="https://twitter.com/t_shinchoku" class="to-twitter"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/t.kawashima.2525/" class="to-instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/channel/UCxaXfQNGb9RsNXguw6czxTw" class="to-youtube"><i class="fab fa-youtube"></i></a>
                <a href="https://github.com/T-Kawashima-fms" class="to-github"><i class="fab fa-github"></i></a>
                <a href="https://qiita.com/T-Kawashima" class="to-qiita">Q</a>
              </div>
            </div>
          </section>

          <section id="skill" class="skill">
            <div class="section-wrapper">
              <h2>Skill</h2>
              <table border="0">
                <% skills.map(skill=> { %>
                  <tr>
                    <th>
                      <a href="/articles/tag/<%= skill.name %>">
                        <i class="fas fa-tag" style="margin-right: 4px;"></i>
                      </a>
                      <%= skill.name %>
                    </th>
                    <td>
                      <% for(let i=1; i<=5; i++){ %>
                        <% if(i<=skill.assessment){ %>
                          ★ 
                        <% } else { %>
                          ー 
                        <% } %>
                      <% } %>
                    </td>
                  </tr>
                <% }); %>
              </table>
            </div>
          </section>

          <section id="certification" class="certification">
            <div class="section-wrapper">
              <h2>Certification</h2>
              <ul>
                <% certifications.map(certification=> { %>
                  <li>
                    <%= certification.name %>
                  </li>
                <% }); %>
              </ul>
            </div>
          </section>

          <div class="button-ani-rect">
            <a  href="/">
              <span class="button-ani-rect-span">←Top</span>
            </a>
          </div>


        </main>

      <%- include("./parts/footer.ejs"); %>
    </body>
</html>
